# ==============================================================================
# COFFEE
# ==============================================================================
'.source.coffee':
    'huge snippet':
        'prefix': 'hsnip'
        'body': """
        # $2
        '$2':
            'prefix': '$3'
            'body': \"\"\"
            $4
            \"\"\"
        """
    'huge source snippet':
        'prefix': 'hssnip'
        'body': """
        '.$1':
            # $2
            '$2':
                'prefix': '$3'
                'body': \"\"\"
                $4
                \"\"\"
        """
    'snippet':
        'prefix': 'snip'
        'body': """
        # $2
        '$2':
            'prefix': '$3'
            'body': '$4'
        """
    'source snippet':
        'prefix': 'ssnip'
        'body': """
        '.$1':
            # $2
            '$2':
                'prefix': '$3'
                'body': '$4'
        """

# ==============================================================================
# JAVA
# ==============================================================================
'.source.java':
    # package public class
    'package public class':
        'prefix': 'ppc'
        'body': """
        package $1;

        /**
        * $2
        * @author Guillaume Quittet
        */
        public class $2 {
            $3
        }
        """
    # package public class constructor
    'package public class constructor':
        'prefix': 'ppcc'
        'body': """
        package $1;

        /**
        * $2
        * @author Guillaume Quittet
        */
        public class $2 {
            $3
            /**
            * $2 Constructor
            */
            public $2() {

            }
        }
        """
    # package public class Main
    'package public class Main':
        'prefix': 'ppcm'
        'body': """
        package $1;

        /**
        * The main class for the package $1
        * @author Guillaume Quittet
        */
        public class ${2:Main} {

            public static void main(String[] args) {
                $3
            }
        }
        """
    # public class
    'public class':
        'prefix': 'pc'
        'body': """
        /**
        * $1
        * @author Guillaume Quittet
        */
        public class $1 {
            $2
        }
        """
    # public class constructor
    'public class constructor':
        'prefix': 'pcc'
        'body': """
        /**
        * $1
        * @author Guillaume Quittet
        */
        public class $1 {
            $2
            /**
            * $1 Constructor
            */
            public $1() {

            }
        }
        """
    # public class Main
    'public class Main':
        'prefix': 'pcm'
        'body': """
        /**
        * The main class
        * @author Guillaume Quittet
        */
        public class ${1:Main} {

            public static void main(String[] args) {
                $2
            }
        }
        """
    # System.out.println
    'system.out.prinln':
        'prefix': 'sout'
        'body': 'System.out.println("$1");$2'
    # Try catch
    'try catch':
        'prefix': 'try'
        'body': """
        try {
            $2
        } catch (${1:Exception} err) {
            System.out.println(err.getMessage());
        }

        """

# ==============================================================================
# PLANTUML
# ==============================================================================
'.source.plantuml':
    # create uml
    'create uml':
        'prefix': 'uml'
        'body': """
        @startuml

        $1

        @enduml
        """
    # abstract
    'abstract':
        'prefix': 'abs'
        'body': 'abstract '
    # abstract class
    'abstract class':
        'prefix': 'absc'
        'body': """
        abstract class $1 {
            $2
        }
        """
    # abstract type
    'abstract type':
        'prefix': 'abst'
        'body': '{abstract} '
    # class
    'class':
        'prefix': 'cl'
        'body': """
        class $1 {
            $2
        }
        """
    # direction
    'direction':
        'prefix': 'direction'
        'body': '$1 to $2 direction'
    # enum
    'enum':
        'prefix': 'enu'
        'body': """
        enum $1 {
            $2
        }
        """
    # interface
    'interface':
        'prefix': 'itf'
        'body': """
        interface $1 {
            $2
        }
        """
    # namespace
    'namespace':
        'prefix': 'nspc'
        'body': """
        namespace $1 {
            $2
        }
        """
    # object
    'object':
        'prefix': 'obj'
        'body': """
        object $1 {
            $2
        }
        """
    # package
    'package':
        'prefix': 'pkg'
        'body': """
        package $1 {
            $2
        }
        """
    # page
    'page':
        'prefix': 'page'
        'body': 'page $1x$2'
    # static type
    'static type':
        'prefix': 'stt'
        'body': '{static} '
    # title
    'title':
        'prefix': 'ttl'
        'body': 'title '
